.banner{
    background: url('../res/index/weight-background2.jpg') no-repeat center;
    background-attachment: fixed;
}

/* Schedule table */
table{
    font-family: 'Libre Baskerville', 'Times New Roman','Times', serif;
}
th{
    border-top: 0px !important;
    color: #2cc4ba
}
td:first-child{
    min-width: 133px;
    color: #2cc4ba;
}
td{
    vertical-align: middle !important;
}
